---
import * as cfp from '@src/data/cfp';
import { gridUrl, schedule, tracks } from '@src/data/schedules/current';
import { formatDateLong } from '@src/utils/date-format';
import Schedules from './_/Schedules.svelte';
---

{
  /* schedule.dates.map((date) => {
    return (
      <section id="schedule" class="rows">
        <>
          <div>
            <h2>Schedule - {formatDateLong(date.date)}</h2>
          </div>
          <div>
            <p>
			Time shown is in SGT (UTC+8).
			{gridUrl ? (<><a href={gridUrl}>View in a grid</a>.</>) : ""}
			</p>
            <Schedules
              scheduleTalks={date.talks}
              tracks={tracks}
              client:visible
            />
          </div>
        </>
      </section>
    )
  }) */
 <section id="schedule" class="rows">
        <>
          <div>
            <h2>Schedule - 2025</h2>
          </div>
          <div>
            <p>
			        Watch this space! Want to speak? Submit a talk proposal via <a href={cfp.link}>sessionize</a>!
            </p>
          </div>
        </>
      </section>
}

<style>
  h2 {
    --stroke-color: var(--green);
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
  }
</style>
