---
import Layout from "@src/layouts/Layout.astro"
import { Image } from 'astro:assets'
import rafflesCity from '../data/images/directions2024/cityhall/raffles-city.jpg'
import giftBoxLandmark from '/src/data/images/directions2024/cityhall/gift-box.jpg'
import trafficLight from "/src/data/images/directions2024/cityhall/traffic-light.jpg"
import outdoorPath from "/src/data/images/directions2024/cityhall/outdoor-path.jpg"
import smuSign from "/src/data/images/directions2024/cityhall/smu-sign.jpg"
import liftLobby from "/src/data/images/directions2024/lift-lobby.jpg"
import smuUnderpass from "/src/data/images/directions2024/bencoolen/underground.jpg"
import underpassWalkway from "/src/data/images/directions2024/bencoolen/underground-walkway.jpg"
import stairsToStreet from "/src/data/images/directions2024/bencoolen/stairs-to-street-level.jpg"
---
<Layout title="Directions">
    <section>
      <h1>Directions for Geekcamp 2024</h1>
      Geekcamp 2024 is at <b>SMU Connexion, Level 5</b>. 
      <h3>
        1. City Hall (Exit A) - step-free access
      </h3>
      <p>
        Get up to street level via Exit A. You can take the escalator or a lift. Exit Raffles City by the door on the left side. 
        <Image src={rafflesCity} alt="Exit A of City Hall MRT that leads to Raffles City mall.There are escalators and stairs that lead to street level. The Raffles City logo is displayed on the signage above the escalators."/>
        You should see Coffee Bean and Tea Leaf  and a large white gift box in the distance. 
        <Image src={giftBoxLandmark} alt="A large Yves Saint Laurent white gift box is displayed as an outdoor installation outside Raffles City near the traffic light crossing."/>
        Go towards the gift box. 
        There's a traffic light behind the gift box - cross the road here. 
        <Image src={trafficLight} alt="A pedestrian crossing at the traffic light between Raffles City and the ASEAN-Singapore Cybersecurity Centre of Excellence"/>
        Go down this road all the way till you reach SMU. 
        <Image src={outdoorPath} alt="A pedestrian path with Stamford Court on the left and SMU's School of Business on the right"/>
        When you reach SMU Connexion, you should see a I ❤️ SMU sign. Walk past it till you see a canteen and turn left to reach the Connexion lift lobby.
        <Image src={smuSign} alt="A large blue sign that says I HEART SMU"/>
        <Image src={liftLobby} alt="Lift lobby at SMU Connexion."/>
        Take the lift to Level 5. You've made it! 
      </p> 
      <h3>
        2.  Bras Basah (Exit B) / Bencoolen (Exit C)
      </h3>
      <p> 
        If you're coming via Bras Basah / Bencoolen, you can get to SMU Connexion via the underground. Walk from the station until you see this large open space.
        Go up the escalator / stairs here.
        <Image src={smuUnderpass} alt="Underpass in the basement of SMU. There are escalators and stairs heading up."/>
        Keep going until you reach the end of this corridor.        
        <Image src={underpassWalkway} alt="Walkway in SMU flanked by some shops on the left and the Student Services Hub on the right."/>
        At the end of the corridor, you should see these doors. The door on the left has stairs to go up, while the door on the right has an escalator. 
        <Image src={stairsToStreet} alt="Several glass doors that lead to street level. The door on the left next to the wayfinding sign leads to a flight of stairs. The door in the middle leads to a lift that is gated by keycard access. The door on the right leads to an escalator."/>
        Go up to street level and walk towards the canteen. The lift lobby is there. 
        <Image src={liftLobby} alt="Lift lobby at SMU Connexion."/>
        Take the lift up to Level 5. You've made it! 
      <h1>See you at Geekcamp! : ) </h1>
    </section>
</Layout>

<style>
    section {
        margin-left: 5%;
        margin-right:5%;
    }
    img {
    padding: 0;
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-height: 50vh;
    max-width: 100%;
}
</style>
  