---
import Logo from '@src/components/Logo.astro';
import * as cfp from '@src/data/cfp';
import { endDate, startDate, year } from '@src/data/date';
import {
  discordLink,
  ticketLink,
  venueDirectionsLink,
  venueLink,
  venueName,
  volunteerLink,
} from '@src/data/links';
import Console from '../Console/index.astro';
import ConsoleClient from './Console.svelte';
import formatter from './formatter';

const format = new Intl.DateTimeFormat('default', {
  dateStyle: 'medium',
  timeStyle: 'short',
  timeZone: 'Asia/Singapore',
});

const data = formatter()
  .addEntry('title', `GeekcampSG ${year}`)
  .addEntry(
    'startDate',
    startDate ? `${format.format(startDate)}` : 'TBC',
    true
  )
  .addEntry('endDate', endDate ? `${format.format(endDate)}` : 'TBC');
if (venueLink) {
  data.addEntry('inPersonLocation', `<a href="${venueLink}">${venueName}</a>`);
} else {
  data.addEntry('inPersonLocation', `${venueName}`);
}
if (venueDirectionsLink) {
  data.addEntry(
    'directions',
    `<a href="${venueDirectionsLink}">How to get here?</a>`
  );
}
data.addEntry('onlineLocation', `<a href="${discordLink}">Discord</a>`);
if (ticketLink) {
  data.addEntry(
    'registration',
    `<a href="${ticketLink}">Get tickets!</a>`,
    true
  );
} else {
  data.addEntry('registration', 'Not open yet. Stay tuned!');
}

if (volunteerLink) {
  data.addEntry('volunteer', `<a href="${volunteerLink}">Join us!</a>`, true);
} else {
  data.addEntry(
    'volunteer',
    `Shoot a message in the <a href="${discordLink}">Discord</a> if you are interested!`
  );
}

if (+Date.now() > +cfp.deadline) {
  data.addEntry('cfp', 'CFP is now closed.');
} else {
  data.addEntry('cfp', `<a href="${cfp.link}">${cfp.name}</a>`);
}
data.addEntry('description', 'Join us for an eventful day of geek talks.');
const html = data.toString();
---

<hr />

<section>
  <Logo />

  <Console>
    <ConsoleClient client:idle>
      <pre set:html={html} slot='data' />
    </ConsoleClient>
  </Console>
</section>

<hr />

<style>
  hr {
    width: 100%;
    background: url('/images/bgsquare.svg') repeat-x;
    height: 20px;
    outine: 0;
    border: none;
    margin: 0;
  }
  pre {
    white-space: break-spaces;
    line-height: 1.26;
    margin: 0;
  }
  pre :global(a) {
    text-decoration: underline;
    font-weight: 600;
  }
  hr:nth-of-type(2) {
    margin-bottom: 3.5rem;
  }
</style>
