---
import Footer from '@src/components/Footer.astro';
import { year } from '@src/data/date';
import './globals.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
const description =
  'A one day event that brings together hundreds of geeks to share about technologies and knowledge.';
const image = '/images/og-image-banner.jpg';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <!-- Existing Meta Tags -->
    <meta name='description' content={description} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta property='og:type' content='website' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:creator' content='geekcamp' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:widgets:theme" content="dark" />
    <link rel="me" href="https://twitter.com/geekcampsg" />
    <meta name='format-detection' content='telephone=no' />
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <link
      rel='stylesheet'
      type='text/css'
      href='https://cdn.jsdelivr.net/gh/wernight/powerline-web-fonts@ba4426cb0c0b05eb6cb342c7719776a41e1f2114/PowerlineFonts.css'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Staatliches&family=Work+Sans:wght@400;700&display=swap'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{`${title} | Geekcamp Singapore ${year}`}</title>
    
    <meta name="twitter:description" content="Geekcamp Singapore">
    <meta name="twitter:image" content="https://geekcamp.sg/images/og-image-banner.jpg">
    <meta name="twitter:title" content="Geekcamp Singapore">
  </head>

  <body>
    <script is:inline>
      window.dataLayer = window.dataLayer || [{ platform: "astro" }];
    </script>
    <main>
      <slot />
    </main>
    <Footer />

    {import.meta.env.PROD ? <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-5WWKBL2');
    </script> : null}
  </body>
</html>
