---
import { Image } from 'astro:assets';
import { textToHtml } from '@src/utils/text-to-html';

import smuai from './logos/smuai.png';
import smuiie from './logos/smuiie.png';
import stack from './logos/STACK.png';

/* const sponsors: Array<{
  title: string;
  size: number;
  sponsors: Array<{
    link: string;
    image: ImageMetadata;
    name: string;
    description: string;
    style?: string;
  }>[];
}> = [
  {
    title: 'ðŸ“ŒVenue Sponsor',
    size: 600,
    sponsors: [
      {
        link: 'https://www.smuai.me/',
        image: smuai,
        name: 'SmuAI',
        description:
          'SmuAI (https://www.smuai.me/) is a student-led ThinkTank that facilitates the sharing of ideas in the field of Artificial Intelligence.',
      }
    ],
  },

  {
    title: 'ðŸ• Food Sponsor',
    size: 600,
    sponsors: [
      {
        link: 'https://www.meetup.com/stack-by-govtech-singapore/',
        image: stack,
        name: 'STACK Community by GovTech',
        description: 'STACK Community(https://www.meetup.com/stack-by-govtech-singapore/) is a platform for deeper discussions and learning opportunities revolving around tech. We aim to encourage the adoption of centrally developed digital solutions within the public service while promoting knowledge exchanges between the government and industry.',
      },
    ],
  },
]; */
---

{
/*   sponsors.length > 0 ? (
 committing out for now*/ 
      true ? (   
      <section id="sponsors" class="rows">
      <div>
        <h2>Sponsors</h2>
      </div>
      <div>
        {/* {sponsors.map((category) => {
          return (
            <div class="row">
              {category.title ? (
                <div class="title">{category.title}</div>
              ) : null}
              <div>
                {category.sponsors.map((sponsor) => (
                  <div>
                    <a
                      href={sponsor.link}
                      target="_blank"
                      rel="noreferrer noopener"
                      style={`display:inline-block;max-width:${category.size}px`}
                    >
                      <Image
                        src={sponsor.image}
                        alt={sponsor.name}
                        style={sponsor.style}
                        width={category.size}
                      />
                    </a>
                    <div set:html={textToHtml(sponsor.description)} />
                  </div>
                ))}
              </div>
            </div>
          );
        })} */}
      Interested in possibly sponsoring GeekcampSG? Reach out to us on <a href="/discord">Discord</a>!
      </div>
    </section>
  ) : null
}

<style>
  h2 {
    --stroke-color: var(--yellow);
  }
  .row {
    margin-bottom: 2rem;
  }
  @media screen and (min-width: 768px) {
    .row {
      margin-bottom: 3rem;
    }
  }
  .title {
    margin: 1rem 0 2rem;
    text-transform: uppercase;
  }
  .sponsor-item {
    margin-bottom: 1rem;
  }
  .image-wrapper {
    width: 100%;
    max-width: 100%; /* Prevents squishing */
    height: auto; /* Maintains aspect ratio */
  }
  img {
    max-width: 100%;
    height: auto; /* Prevents squishing and maintains aspect ratio */
  }
</style>
